/node_modules

#Have to reference mongoDB cluster in app
#for AWS to use MONGODB
#should only be uncommented for aws deployment
.env

/.idea
seed.js
RatingSchema.js
.elasticbeanstalk/
.gitignore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
